src/**/**__pycache__/
src/utils/__pycache__/
src/plotters/__pycache__/
tests/__pycache__/
build/
*.egg-info/
data/
out/
data_train/
configs/
!src/telos/configs/
!src/telos/configs/stage1.defaults.yaml
logs/
reports/
sample_data/
old_src/
project_config/*config.pkl
